<h2 mat-dialog-title class="title">Modifier</h2>
<mat-dialog-content>
<form class="edit-form">
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Magasin</mat-label>
      <input matInput [(ngModel)]="editStore.name" name="name" required>
    </mat-form-field>
  </div>
  <div class="address-row">
    <mat-form-field appearance="fill">
      <mat-label>Commune</mat-label>
      <input matInput [(ngModel)]="editStore.city" name="city" required>
    </mat-form-field>
    <mat-form-field class="address-row-addr" appearance="fill">
      <mat-label>Addresse</mat-label>
      <input matInput [(ngModel)]="editStore.address" name="address" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Produits</mat-label>
      <textarea matInput [(ngModel)]="editStore.products" name="products"></textarea>
    </mat-form-field>
  </div>
  <div>
    <h4>Horaires:</h4>
    <div *ngFor="let time of editStore.time; let i = index;" class="time-row">
      <mat-form-field appearance="fill">
        <input matInput [value]="editStore.time[i]">
      </mat-form-field>
      <button mat-raised-button (click)="deleteTime(i)">delete</button>
    </div>
    <div class="time-row">
        <mat-form-field appearance="fill">
          <input matInput [(ngModel)]="newTime" name="newTime">
        </mat-form-field>
        <button mat-raised-button (click)="addTime()">add</button>
    </div>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Site Web</mat-label>
      <input matInput [(ngModel)]="editStore.website" name="website">
    </mat-form-field>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
<div class="button-box">
  <button *ngIf="editStore.id !== 0" mat-raised-button color="accent" (click)="delete()">Delete</button>
  <span class="button-box-spacer"></span>
  <button mat-raised-button (click)="cancelEdit()">Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="save()">Save</button>
</div>
</mat-dialog-actions>
