.button-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button-box button {
  margin-left: 8px;
}

.button-box-spacer {
    flex: 1 1 auto;
}

.address-row {
    display: flex;
    justify-content: center;
}

.address-row-addr {
    margin-left: 8px;
}

.time-row {
    display: flex;
}

.time-row button {
    width: 80px;
    margin-left: 8px;
    margin-right: 8px;
    align-self: center;
}

.time-row mat-form-field {
    flex: 1;
}

.full-width {
    min-width: 250px;
    width: 100%;
}

.edit-form {
    overflow:scroll;
    max-width: 80vh;
}