// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin app-component-theme($theme) {

    $primary: map-get($theme, primary);
}

.toolbar-filter {
    font-size: 14px;
}

.toolbar-filter-row {
    min-height: 50px;
}
.mat-sidenav-container {
    width: 100% !important;
    height: calc(100vh - 64px) !important;
  }

.mat-toolbar {
    height: auto;
    position: relative;
    z-index: 100;
  }

.main-form {
    margin:14px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.flex-div-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.input-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 14px;
}

.store-input-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.store-input-element{
    min-width: 150px;
    width: 100%;
  }

  .stores-table {
      width: 100%;
  }

  .store-card {
    width: 300px;
    height: auto;
    margin: 14px;
  }

  .example-header-image {
    background-size: cover;
  }