<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Par Ici</span>
    <span class="toolbar-spacer"></span>
    <div fxHide.xs="true" >
      <mat-form-field class="toolbar-filter"> 
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
      </mat-form-field>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!allowEdit" mat-menu-item (click)="openLogin()">
        <mat-icon>fingerprint</mat-icon>
        <span>Login</span>
      </button>
      <button *ngIf="allowEdit" mat-menu-item (click)="openNew(this.newStore)">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Add Store</span>
      </button>
      <button *ngIf="allowEdit" mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-filter-row" fxHide fxShow.xs="true">
      <mat-form-field class="toolbar-filter"> 
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <div class="flex-div-row">
    <mat-card class="store-card" *ngFor="let element of dataStores; let i=index">
        <img mat-card-image src="assets/banner.jpg" alt="grass">
      <mat-card-header>
        <mat-card-title>{{element.name}}</mat-card-title>
        <mat-card-subtitle>{{element.city}}<br>{{element.address}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content color="accent">
        <div *ngIf="element.products">
          <h4>Produits:</h4>
          <section class="mat-body">
            {{element.products}}
          </section>
        </div>
        <div *ngIf="element.time">
          <h4>Horaires:</h4>
          <ul>
            <li *ngFor="let time of element.time">
              {{time}}
            </li>
          </ul>
        </div>
        <div *ngIf="element.website">
          <h4>Site Web:</h4>
          <section class="mat-body">
            {{element.website}}
          </section>
        </div>
      </mat-card-content>
      <mat-card-actions fxFlexAlign="end">
        <button mat-icon-button *ngIf="allowEdit" (click)="openEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>
