<h2 class="title">Login</h2>
<form class="login-form">
  <table class="login-full-width " cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="login-full-width ">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="login-full-width ">
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
<div class="login-button">
  <button mat-raised-button cdkFocusInitial (click)="login()" color="primary">Login</button>
</div>
